.SummaryCardWrap {
  // margin-top: 1rem;
  border-top: 0.4px solid var(--card-border-color);
  border-bottom: 0.4px solid var(--card-border-color);

  & .row .col-xl-3:first-child {
    border-left: 0;
  }
}

.StatisticCard {
  background: var(--statistic-card-bg);
  border-radius: 0;
  border: 0;
  border-left: 0.4px solid var(--card-border-color);

  &.dark {
    .price {
      color: var(--white);
    }
  }
  .price {
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
  }
  .card-body {
    padding: 1rem 1.5rem;
    .card-title {
      font-weight: 300;
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 992px) {
    border-left: 0;
  }
}

.featured-card {
  background: var(--feature-card-bg);
  border-radius: 25px;
  border: 0;
  box-shadow: 0px 8px 30px rgba(51, 117, 221, 0.05);
  &.dark {
    background: var(--bg-dark);
    opacity: 0.85;
    backdrop-filter: blur(60px);
    color: white;
  }
  p {
    font-size: 13px;
    line-height: 18px;
    padding-right: 2rem;
  }
}

.custom-progress {
  width: 140px;
  height: 6px;
  border-radius: 20px;
}
.SummaryCard {
  background: var(--feature-card-bg);
  border-radius: 25px;
  border: 0;
  background: #f6f8fd;
  backdrop-filter: blur(19px);

  &.dark {
    background-color: #0c0c0c;
    .card-title {
      color: var(--white);
    }
  }

  .card-body {
    padding: 1rem 2.5rem;
    .card-title {
      font-size: 22px;
      line-height: 1.3;
      letter-spacing: 0.1em;
      font-weight: 300;
      font-size: 30px;
    }
  }
}
