.tabs {
  .nav-item {
    color: #fff;
  }
}

.tab {
  color: #fff !important;
  background-color: transparent !important;
  border: unset !important;
  padding-left: 0;
  padding-right: 0;
  margin-right: 24px;
  &:global(.active) {
    border-bottom: 4px solid #f7931a !important;
  }
}
